.contact {
    border-top: solid;
    border-width: 1px;
    height: 100vh;

    h1 {
        color: white;
        margin-left: 250px;
        border-left: solid;
        border-width: 1px;
        padding-left: 20px;
        font-weight: 100;
    }
}