@import 'node_modules/foundation-sites/scss/foundation';
@include foundation-global-styles;
@include foundation-grid;

@import 'home';
@import 'about';
@import 'dev';
@import 'photo';
@import 'contact';

body {
    background-color: #2e2e2e;
    color: white;
    font-family: 'Roboto', sans-serif;

    header {
        position: fixed;
        width: 100vw;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        background-color: transparent;

        .title {
            display: inline-block;
            flex-direction: row;  
            width: 40vw;
        }

        .nav {
            display: inline-block;
            flex-direction: row;
            text-align: right;
            width: 60vw;
            vertical-align: middle;
            padding: 10px;

            ul {
                padding: 0px;
                margin: 0px;
                display: flex;
                justify-content: space-around;
                vertical-align: middle;
                line-height: 2.5;

                li {
                    flex-direction: row;
                    list-style: none;
                    display: inline-block;
                    font-size: 1.2rem;
                }
            }
        }
    }

        h1 {
            display: inline-block;
            margin: 0px;
            color: #b5b5b5;
            padding: 10px;
        }
}